#header {
  height: 4rem;
  background-color: #6A4334;
  color: #F8EDE3;
  display: flex;
  align-items: center;
}
#header #toggle {
  height: 3rem;
  width: 3rem;
  margin: 0.5rem;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#header #toggle:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
#header #toggle:active {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}
#header .logo-kopi {
  font-size: 1.5em;
  padding-left: 1rem;
  font-family: montserrat;
  color: #D0B8A8;
}
#header .logo-pas {
  font-size: 1.5em;
  padding-left: 0.5rem;
  font-family: montserrat;
  color: #ffffff;
}
#header .right-side {
  margin: auto;
  margin-right: 0;
  padding-right: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
#header .right-side .devider {
  height: 2rem;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.btn.btn-cream {
  background-color: #F8EDE3;
  border: none;
}

.btn.btn-cream:hover {
  background-color: rgb(219, 200, 180);
  border: none !important;
}

#wrapper {
  display: grid;
  grid-template-columns: 18rem auto;
  height: calc(100vh - 4rem);
  transition: 0.3s;
}
#wrapper #sidebar {
  padding-top: 150px;
  background-color: #D0B8A8;
  transition: 0.3s;
  background-image: url("/src/assets/img/logo_dasboard1.png");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: top;
}
#wrapper #sidebar .sidebar-item {
  text-decoration: none;
  display: grid;
  grid-template-columns: 4rem auto;
  align-items: center;
  height: 4rem;
  width: 100%;
  color: #594545;
  transition: 0.2s;
  border-radius: 10px;
}
#wrapper #sidebar .sidebar-item .icon {
  font-size: 1.5em;
  text-align: center;
}
#wrapper #sidebar .sidebar-item .text {
  padding-left: 1rem;
  font-size: 1.2em;
  opacity: 1;
  transition: 0.3s;
}
#wrapper #sidebar .sidebar-item:hover {
  background-color: #F8EDE3;
}
#wrapper #sidebar .sidebar-item.router-link-active {
  background-color: #6A4334;
  color: #F8EDE3;
}
#wrapper #sidebar .devider {
  width: 90%;
  margin: auto;
  border-bottom: 0.1px solid #DFD3C3;
}
#wrapper #content {
  transition: 0.3s;
  background-color: #FFF8EA;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
}
#wrapper.hide {
  grid-template-columns: 4rem auto;
}
#wrapper.hide #sidebar {
  background-size: 0;
  padding: 2px 0;
}
.row > * {
  padding: 0;
}

.box-table {
  width: 100%;
  padding: 3rem;
  text-align: center;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0.2rem rgba(0, 0, 0, 0.1);
}
.box-table .name {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.box-table .text {
  padding: 0.2rem;
  border-radius: 4px;
  background-color: rgb(57, 165, 53);
  color: #fff;
}
.box-table.active {
  cursor: pointer;
}
.box-table.active:hover {
  background-color: #fafafa;
}
.box-table.active .text {
  background-color: rgb(240, 83, 83);
}/*# sourceMappingURL=style.css.map */